img{width:200px;}
body{ background-color: lightblue;

  border-style: dashed;
  
   font-family: sans-serif;
  
  
   p.one {
  border-style: solid;
  border-color: red;
}

h1 {
 border-style: dashed;
}

p. two { 
 border-style:solid;


p.three { 
 border-style:dotted;
